* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  :root {
    --container-width: 1170px;
    --column-spacing: 10px;
    --column-spacing-small: 5px;
  }
  
  .container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .container-full {
    padding-left: var(--column-spacing);
    padding-right: var(--column-spacing);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(0px - var(--column-spacing));
    margin-right: calc(0px - var(--column-spacing));
    margin-top: calc(0px - var(--column-spacing));
  }
  
  .row.row-small {
    margin-left: calc(0px - var(--column-spacing-small));
    margin-right: calc(0px - var(--column-spacing-small));
    margin-top: calc(0px - var(--column-spacing-small));
  }
  
  .row.row-collapse {
    margin-left: 0;
    margin-right: 0;
  }
  
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: var(--column-spacing);
  }
  
  .row.row-small > .col-1,
  .row.row-small > .col-2,
  .row.row-small > .col-3,
  .row.row-small > .col-4,
  .row.row-small > .col-5,
  .row.row-small > .col-6,
  .row.row-small > .col-7,
  .row.row-small > .col-8,
  .row.row-small > .col-9,
  .row.row-small > .col-10,
  .row.row-small > .col-11,
  .row.row-small > .col-12 {
    padding: var(--column-spacing-small);
  }
  
  .row.row-collapse > .col-1,
  .row.row-collapse > .col-2,
  .row.row-collapse > .col-3,
  .row.row-collapse > .col-4,
  .row.row-collapse > .col-5,
  .row.row-collapse > .col-6,
  .row.row-collapse > .col-7,
  .row.row-collapse > .col-8,
  .row.row-collapse > .col-9,
  .row.row-collapse > .col-10,
  .row.row-collapse > .col-11,
  .row.row-collapse > .col-12 {
    padding: 0;
  }
  
  .col-1 {
    --column-number: calc(12 / 1);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-2 {
    --column-number: calc(12 / 2);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-3 {
    --column-number: calc(12 / 3);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-4 {
    --column-number: calc(12 / 4);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-5 {
    --column-number: calc(12 / 5);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-6 {
    --column-number: calc(12 / 6);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-7 {
    --column-number: calc(12 / 7);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-8 {
    --column-number: calc(12 / 8);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-9 {
    --column-number: calc(12 / 9);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-10 {
    --column-number: calc(12 / 10);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-11 {
    --column-number: calc(12 / 11);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  .col-12 {
    --column-number: calc(12 / 12);
    --column-width: calc(100% / var(--column-number));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
  }
  
  @media screen and (min-width: 576px) {
  
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
      padding: var(--column-spacing);
    }
  
    .row.row-small > .col-sm-1,
    .row.row-small > .col-sm-2,
    .row.row-small > .col-sm-3,
    .row.row-small > .col-sm-4,
    .row.row-small > .col-sm-5,
    .row.row-small > .col-sm-6,
    .row.row-small > .col-sm-7,
    .row.row-small > .col-sm-8,
    .row.row-small > .col-sm-9,
    .row.row-small > .col-sm-10,
    .row.row-small > .col-sm-11,
    .row.row-small > .col-sm-12 {
      padding: var(--column-spacing-small);
    }
  
    .row.row-collapse > .col-sm-1,
    .row.row-collapse > .col-sm-2,
    .row.row-collapse > .col-sm-3,
    .row.row-collapse > .col-sm-4,
    .row.row-collapse > .col-sm-5,
    .row.row-collapse > .col-sm-6,
    .row.row-collapse > .col-sm-7,
    .row.row-collapse > .col-sm-8,
    .row.row-collapse > .col-sm-9,
    .row.row-collapse > .col-sm-10,
    .row.row-collapse > .col-sm-11,
    .row.row-collapse > .col-sm-12 {
      padding: 0;
    }
  
    .col-sm-1 {
      --column-number: calc(12 / 1);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-2 {
      --column-number: calc(12 / 2);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-3 {
      --column-number: calc(12 / 3);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-4 {
      --column-number: calc(12 / 4);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-5 {
      --column-number: calc(12 / 5);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-6 {
      --column-number: calc(12 / 6);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-7 {
      --column-number: calc(12 / 7);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-8 {
      --column-number: calc(12 / 8);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-9 {
      --column-number: calc(12 / 9);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-10 {
      --column-number: calc(12 / 10);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-11 {
      --column-number: calc(12 / 11);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-sm-12 {
      --column-number: calc(12 / 12);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  }
  
  @media screen and (min-width: 768px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
      padding: var(--column-spacing);
    }
  
    .row.row-small > .col-md-1,
    .row.row-small > .col-md-2,
    .row.row-small > .col-md-3,
    .row.row-small > .col-md-4,
    .row.row-small > .col-md-5,
    .row.row-small > .col-md-6,
    .row.row-small > .col-md-7,
    .row.row-small > .col-md-8,
    .row.row-small > .col-md-9,
    .row.row-small > .col-md-10,
    .row.row-small > .col-md-11,
    .row.row-small > .col-md-12 {
      padding: var(--column-spacing-small);
    }
  
    .row.row-collapse > .col-md-1,
    .row.row-collapse > .col-md-2,
    .row.row-collapse > .col-md-3,
    .row.row-collapse > .col-md-4,
    .row.row-collapse > .col-md-5,
    .row.row-collapse > .col-md-6,
    .row.row-collapse > .col-md-7,
    .row.row-collapse > .col-md-8,
    .row.row-collapse > .col-md-9,
    .row.row-collapse > .col-md-10,
    .row.row-collapse > .col-md-11,
    .row.row-collapse > .col-md-12 {
      padding: 0;
    }
  
    .col-md-1 {
      --column-number: calc(12 / 1);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-2 {
      --column-number: calc(12 / 2);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-3 {
      --column-number: calc(12 / 3);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-4 {
      --column-number: calc(12 / 4);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-5 {
      --column-number: calc(12 / 5);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-6 {
      --column-number: calc(12 / 6);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-7 {
      --column-number: calc(12 / 7);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-8 {
      --column-number: calc(12 / 8);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-9 {
      --column-number: calc(12 / 9);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-10 {
      --column-number: calc(12 / 10);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-11 {
      --column-number: calc(12 / 11);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-md-12 {
      --column-number: calc(12 / 12);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  }
  
  @media screen and (min-width: 992px) {
  
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
      padding: var(--column-spacing);
    }
  
    .row.row-small > .col-lg-1,
    .row.row-small > .col-lg-2,
    .row.row-small > .col-lg-3,
    .row.row-small > .col-lg-4,
    .row.row-small > .col-lg-5,
    .row.row-small > .col-lg-6,
    .row.row-small > .col-lg-7,
    .row.row-small > .col-lg-8,
    .row.row-small > .col-lg-9,
    .row.row-small > .col-lg-10,
    .row.row-small > .col-lg-11,
    .row.row-small > .col-lg-12 {
      padding: var(--column-spacing-small);
    }
  
    .row.row-collapse > .col-lg-1,
    .row.row-collapse > .col-lg-2,
    .row.row-collapse > .col-lg-3,
    .row.row-collapse > .col-lg-4,
    .row.row-collapse > .col-lg-5,
    .row.row-collapse > .col-lg-6,
    .row.row-collapse > .col-lg-7,
    .row.row-collapse > .col-lg-8,
    .row.row-collapse > .col-lg-9,
    .row.row-collapse > .col-lg-10,
    .row.row-collapse > .col-lg-11,
    .row.row-collapse > .col-lg-12 {
      padding: 0;
    }
  
    .col-lg-1 {
      --column-number: calc(12 / 1);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-2 {
      --column-number: calc(12 / 2);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-3 {
      --column-number: calc(12 / 3);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-4 {
      --column-number: calc(12 / 4);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-5 {
      --column-number: calc(12 / 5);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-6 {
      --column-number: calc(12 / 6);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-7 {
      --column-number: calc(12 / 7);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-8 {
      --column-number: calc(12 / 8);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-9 {
      --column-number: calc(12 / 9);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-10 {
      --column-number: calc(12 / 10);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-11 {
      --column-number: calc(12 / 11);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-lg-12 {
      --column-number: calc(12 / 12);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  }
  
  @media screen and (min-width: 1200px) {
  
    .container{
      padding: 0;
    }  
    
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12 {
      padding: var(--column-spacing);
    }
  
    .row.row-small > .col-xl-1,
    .row.row-small > .col-xl-2,
    .row.row-small > .col-xl-3,
    .row.row-small > .col-xl-4,
    .row.row-small > .col-xl-5,
    .row.row-small > .col-xl-6,
    .row.row-small > .col-xl-7,
    .row.row-small > .col-xl-8,
    .row.row-small > .col-xl-9,
    .row.row-small > .col-xl-10,
    .row.row-small > .col-xl-11,
    .row.row-small > .col-xl-12 {
      padding: var(--column-spacing-small);
    }
  
    .row.row-collapse > .col-xl-1,
    .row.row-collapse > .col-xl-2,
    .row.row-collapse > .col-xl-3,
    .row.row-collapse > .col-xl-4,
    .row.row-collapse > .col-xl-5,
    .row.row-collapse > .col-xl-6,
    .row.row-collapse > .col-xl-7,
    .row.row-collapse > .col-xl-8,
    .row.row-collapse > .col-xl-9,
    .row.row-collapse > .col-xl-10,
    .row.row-collapse > .col-xl-11,
    .row.row-collapse > .col-xl-12 {
      padding: 0;
    }
  
    .col-xl-1 {
      --column-number: calc(12 / 1);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-2 {
      --column-number: calc(12 / 2);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-3 {
      --column-number: calc(12 / 3);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-4 {
      --column-number: calc(12 / 4);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-5 {
      --column-number: calc(12 / 5);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-6 {
      --column-number: calc(12 / 6);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-7 {
      --column-number: calc(12 / 7);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-8 {
      --column-number: calc(12 / 8);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-9 {
      --column-number: calc(12 / 9);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-10 {
      --column-number: calc(12 / 10);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-11 {
      --column-number: calc(12 / 11);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xl-12 {
      --column-number: calc(12 / 12);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  }
  
  @media screen and (min-width: 1400px) {
    .col-xxl-1,
    .col-xxl-2,
    .col-xxl-3,
    .col-xxl-4,
    .col-xxl-5,
    .col-xxl-6,
    .col-xxl-7,
    .col-xxl-8,
    .col-xxl-9,
    .col-xxl-10,
    .col-xxl-11,
    .col-xxl-12 {
      padding: var(--column-spacing);
    }
  
    .row.row-small > .col-xxl-1,
    .row.row-small > .col-xxl-2,
    .row.row-small > .col-xxl-3,
    .row.row-small > .col-xxl-4,
    .row.row-small > .col-xxl-5,
    .row.row-small > .col-xxl-6,
    .row.row-small > .col-xxl-7,
    .row.row-small > .col-xxl-8,
    .row.row-small > .col-xxl-9,
    .row.row-small > .col-xxl-10,
    .row.row-small > .col-xxl-11,
    .row.row-small > .col-xxl-12 {
      padding: var(--column-spacing-small);
    }
  
    .row.row-collapse > .col-xxl-1,
    .row.row-collapse > .col-xxl-2,
    .row.row-collapse > .col-xxl-3,
    .row.row-collapse > .col-xxl-4,
    .row.row-collapse > .col-xxl-5,
    .row.row-collapse > .col-xxl-6,
    .row.row-collapse > .col-xxl-7,
    .row.row-collapse > .col-xxl-8,
    .row.row-collapse > .col-xxl-9,
    .row.row-collapse > .col-xxl-10,
    .row.row-collapse > .col-xxl-11,
    .row.row-collapse > .col-xxl-12 {
      padding: 0;
    }
  
    .col-xxl-1 {
      --column-number: calc(12 / 1);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-2 {
      --column-number: calc(12 / 2);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-3 {
      --column-number: calc(12 / 3);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-4 {
      --column-number: calc(12 / 4);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-5 {
      --column-number: calc(12 / 5);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-6 {
      --column-number: calc(12 / 6);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-7 {
      --column-number: calc(12 / 7);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-8 {
      --column-number: calc(12 / 8);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-9 {
      --column-number: calc(12 / 9);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-10 {
      --column-number: calc(12 / 10);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-11 {
      --column-number: calc(12 / 11);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  
    .col-xxl-12 {
      --column-number: calc(12 / 12);
      --column-width: calc(100% / var(--column-number));
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  }
  