@font-face {
    font-family: Lato;
    src: url('../fonts/lato-bold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/lato-regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url('../fonts/lato-light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: LatoSemibold;
    src: url('../fonts/LatoSemibold.ttf');
}

@font-face {
    font-family: FontBox;
    src: url('../fonts/SVN-Fontbox Boathouse Filled.otf');
    font-weight: 700;
}